@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: center;
}

.top-container > a {
    text-decoration: none;
}

.top-container > a > p {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px 10px 30px;
}

.top-container > a > p:hover{
    text-decoration: underline;
}

.top-container > hr {
    margin: 0;
}

#root-box {
    width: 80%;
    /* border: red 3px solid; */
}

.cart-container {
    /* border: red 3px solid; */
}

.cart-container > p {
    text-align: center;
    margin: 0;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.cart-container > hr {
    width: 80%;
}

.products-container {
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#item-box {
    width: 80%;
    margin: 0;
    padding: 0;
    /* border: red 3px solid; */
}

.product-box {
    margin: 10px;
    display: flex;
    align-items: center;
    /* border: red 3px solid; */
}

.product-img {
    /* width: 13%; height: 12vw; */
    width: 150px;
    object-fit: cover;
}


.info-box {
    display: flex;
    margin-left: 10px;
}

.item {
    list-style: none;
}

.delete {
    font-family: "Noto Sans KR", sans-serif;
    border: none;
    border-radius: 3px;
    background-color:transparent;
    padding: 0;

    transform: translateY(1px);

    /* icon 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete:hover {
    background-color: #bebebe;
}

.payment-container {
    /* border: red 3px solid; */
}

.payment-container > hr {
    width: 80%;
}

.bill-container {
    /* border: red 3px solid; */
    display: flex;
    margin-right: 30px;
    justify-content: flex-end;
}

.bill-container > p {
    margin: 0;
}

.pay-container {
    /* border: red 3px solid; */
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pay {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 3px;
    padding: 1px 8px;
    background-color: #eaeaea;
    cursor: pointer;
}

.pay:hover {
    background-color: #bebebe;
}

@media screen and (max-width: 1400px){
    #item-box {
        width: 100%;
    }
}

@media screen and (max-width: 1200px){
    .product-img {
        width: 130px;
    }
}

@media screen and (max-width: 800px){
    .product-img {
        width: 100px;
    }
}

@media screen and (max-width: 450px){
    .product-box {
        flex-direction: column
    }

    .item {
        word-break: keep-all;
    }
}