@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
}

/* for sticky */
#top-image-container {
    position: sticky;
    z-index: 0;
}

#menu-container {
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
}

#products-container {
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
}

.ask {
    z-index: 1;
}
/* *** */

#top-image-container {
    background-color: #BFD9F4;
    top: 0;
    display: flex;
    justify-content: flex-end;
}

.top.image {
    max-width: 100%;
}

.menu {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
}

.menu:hover {
    text-decoration: underline;
}

#menu-ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 50px;
    padding: 0;
}

#menu-ul > li {
    list-style: none;
    margin-right: 20px;
    position: relative;
}

#menu-ul > li::after {
    content: "";
    width: 1px; height: 15px;
    position: absolute;
    transform: translate(5px, 40%);
    background-color: #000000;
}

#menu-ul > li:last-child {
    margin-right: 0;
}

#menu-ul > li:last-child::after {
    content: none;
}

#products-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    /* gap: 30px; */
    row-gap: 30px;
}

.product {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: red 3px solid; */
}

.product > img {
    margin-bottom: 10px;
    width: 150px; height: 225px;
    object-fit: cover;
    /* border: red 3px solid; */
}

.book-info-page {
    display: block;
    text-decoration: none;
}

.title {
    cursor: pointer;

    margin: 0;
    width: 200px; /* 사진크기 +50px */
    text-align: center;
    /* 글씨 생략 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-weight: 500;
    color: #000000;
}

.title:hover {
    text-decoration: underline;
}

.author {
    margin: 5px 0;
    font-size: 15px;
}

.price {
    margin: 0;
}

.buy {
    /* border: blue 3px solid; */
    display: flex;
}

.price {
    /* border: blue 3px solid; */
    margin-right: 10px;
}

.button {
    cursor: pointer;

    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 3px;
    background-color: #eaeaea;
}

.button:hover {
    background-color: #bebebe;
}

#add-container {
    display: flex;
    justify-content: center;
}

.add {
    margin: 30px 0;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 3px;
    background-color: #eaeaea;

    /* border: #000000 1px solid;
    border-radius: 3px;
    background-color: transparent; */
}

.add:hover {
    background-color: #bebebe;
}

.ask {
    position: fixed;

    bottom: 10px;
    right: 10px;
}

.ask > button {
    width: 40px; height: 40px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50%;
    background-color: #eaeaea;
}

@media screen and (max-width: 750px){
    #menu-ul {
        margin-right: 30px;
    }

    #products-container {
        display: block;
    }
}

@media screen and (max-width: 500px){
    #menu-ul {
        margin-right: 10px;
    }

    #menu-ul > li {
        margin-right: 10px;
    }
}